body{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #85d4b7;
    height: 100px;
}


#vegan{
    background-color: #6dccaa;
    height: 800px;
}

#footer{
    background-color: #6dccaa;
    height: 130px;
}

#coaching{
    background-color: #ffffff;
    height: 800px;
}

#eetcafe{
    background-color: #ffcf3f;
    height: 500px;
}

#winkel{
    background-color: #ebebeb;
    height: 500px;
}